body {
  background-color: #f8f9fa;
}

.card {
  border: none;
  border-radius: 10px;
}

.card-header {
  border-radius: 10px 10px 0 0;
}

#qrOutput {
  display: none; /* Hide output initially */
}

#qrCode {
  margin: 20px auto;
}

#downloadBtn {
  display: none; /* Hide download button initially */
}
