/* styles.css */
.gamewrap {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #4CAF50; /* Green background */
  font-family: Arial, sans-serif;
}

.game-container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/*h1 {*/
/*  margin-bottom: 20px;*/
/*  color: #333;*/
/*}*/

#score, #time {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 10px;
  margin-bottom: 20px;
}

.hole {
  width: 100px;
  height: 100px;
  background-color: #8B4513; /* Brown hole */
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.hole::after {
  content: '';
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #000;
  border-radius: 50%;
  bottom: -40px;
  left: 10px;
}

.mole {
  width: 80px;
  height: 80px;
  background-color: #A0522D; /* Mole color */
  border-radius: 50%;
  position: absolute;
  bottom: -80px;
  left: 10px;
  cursor: pointer;
  transition: bottom 0.3s ease;
}

.mole.up {
  bottom: 10px;
}

#start-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; /* Green button */
  color: white;
}

#start-btn:active {
  background-color: #45a049;
}
