/* General Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
header a{
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.megamenu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.megamenu li {
  position: relative;
  margin: 0 1rem;
}

.megamenu .submenu {
  display: none;
  position: absolute;
  background-color: #444;
  list-style: none;
  padding: 0.5rem;
  top: 100%;
  left: 0;
}

.megamenu li:hover .submenu {
  display: block;
}

.megamenu a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
  .megamenu {
    flex-direction: column;
    align-items: center;
  }

  .megamenu li {
    margin: 0.5rem 0;
  }
}
/* Stopwatch Styles */
#stopwatch {
  text-align: center;
}

#stopwatch-display {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

#stopwatch button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
}

#stopwatch button:hover {
  background-color: #555;
}
